/* style guide 
Colors
-Principal colors- #F5E7DC, #aa8abd, #3B0273
-Dropshadow- #F5E7DC75
-Active state- #FAA16F
-hyperlink- blue
-Font family- 'Source Sans Pro' 
*/

/* css reset */

body,
dl {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #3b0273;
}

.hLink {
  color: blue;
}

h1 {
  color: #3b0273;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Source Sans Pro";
}

/*Header elements*/

header {
  display: flex;
  justify-content: center;
  background-color: #aa8abd;
  background-image: url(images/airFlow.png);
  background-repeat: no-repeat;
  border-bottom: 3px solid #3b0273;
}
h1 {
  color: #3b0273;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Source Sans Pro";
}

body {
  background-image: linear-gradient(0deg, #64428c 0%, #f5e7dc 85%);
  border-top: 3px solid #64428c;
}

#wrapper {
  max-width: 900px;
  margin: 0 auto;
  background-image: url(images/windTile3.png);
  background-repeat: repeat;
  border-bottom: 3px solid #3b0273;
}

.levantLogo {
  margin: 14px;
  font-size: 120%;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b0273);
  text-align: center;
  color: #3b0273;
  filter: drop-shadow(0.2mm 0.6mm 0.2mm #f5e7dc75);
}
.levantLogo img {
  width: 100%;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b0273);
}
.logoCap {
  font-size: 90%;
  padding-right: 4%;
}
figure {
  text-align: center;
}

/* Nav elements */
#navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #64428c;
  font-family: "Verdana";
  border-radius: 0rem 0rem 2rem 2rem;
}
.mynav {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: "Verdana";
}

.mynav a {
  color: #f5e7dc;
  font-weight: 500;
  padding: 15px 1.3rem;
  text-decoration: none;
}
.active a {
  background-color: #faa16f;
  color: #3b0273;
  font-weight: 600;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #aa8abd;
  transition: 0.4s;
  font-weight: 600;
}
a:hover {
  color: #3b0273;
  transition: color, 0.4s;
}

/* lists */

body {
  background-image: linear-gradient(0deg, #64428c 0%, #f5e7dc 85%);
  border-top: 3px solid #64428c;
}

.nucleus {
  color: #3b0273;
  border: 2px solid #3b0273;
  border-radius: 0.5rem 2rem 2rem 2rem;
  padding: 1rem 2rem;
  margin: 2%;
  background-image: linear-gradient(20deg, #f5e7dc60 0%, #64428c80 98%);
  font-family: "Verdana";
  font-weight: bold;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b0273);
  width: auto;
  min-width: 356px;
}
legend {
  font-family: "Verdana";
  font-size: 1rem;
  font-weight: bold;
  color: #f5e7dc;
  background-color: #3b0273;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: solid 2px #ebae8b;
}
main ul.gust, main ol.wind li {
  margin: 0 0 .8rem 0;
  padding: 0 0 0 1rem;
}

main ul.gust li {
  background-image: url(images/bull_xsm.png);
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 40px;
  margin-bottom: .8rem;
}


main ol.wind li {
 background-image: url(images/bull_xsm.png);
 background-repeat: no-repeat;
 list-style-type: none;
 padding-left: 40px;
}

dt {
  font-family: "Verdana";
  font-weight: bold;
}

dd {
  font-family: "Verdana";
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

/* Footer Styling */
footer {
  background-color: #f5e7dc;
  border-top: 3px solid #aa8abd;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 10pt;
  font-weight: 100;
  background-color: #64428c;
  color: #f5e7dc;
  border-top: solid 3px #aa8abd;
}
figure {
  text-align: center;
}
.footLogoStyle {
  max-width: 300px;
  padding-top: 20px;
}
.tagLine {
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 20px;
  color: #3b0273;
  filter: drop-shadow(0.2mm 0.6mm 0.2mm #f5e7dc75);
}
